.note{
    background-color: rgb(92, 51, 189);
    color: azure;
    font-size: 14px;
    height: 24px;
    }
    .ligh{
    margin-bottom: 1250px !important;
    }
    .lig{
    margin-bottom: 1450px !important;
    }
    
  
    
    .lax{
    margin-bottom:  620px !important;
    }
    .logo{
    width: 150px;
    height: 40px;
    align-items: center;
    margin-left: 350px;
    margin-top: 7px;
    }
    .login{
    margin-top: 15px;
    font-size: 14px;
    }
    .phone{
    margin-left: 100px;
    margin-top: 15px;
    }
    .search-container {
    position: relative;
    }
    
    
    .search-input {
    border: none;
    border-bottom: 2px solid #000; /* Line below the search input */
    padding: 5px 0;
    margin-top: 9px;
    width: 180px;
    font-size: 14px;
    margin-left: 20px;
    outline: none; /* Removes the default outline on focus */
    }
    
    .search-input::placeholder {
    color: #999; /* Color of the placeholder text */
    }
    .navbar-nav{
    font-size: 13px;
    }
    .navbar{
    background-color: #7EA1FD;
    
    }
    /* .nav-link{
    justify-content: space-between;
    } */
    .freedel{
    
    height: 25px;
    }
    .export{
    margin-top: 2px;
    margin-left: 50px;
    }
    .freedd{
    height: 40px;
    
    background: #F7F7F7;
    }
    .Home{
    width: 370px;
    margin-left: 2px;
    margin-top: 5px;
    }
    .banner{
    width: 565px;
    margin-top: 5px;
    margin-right: 20px;
    }
    /* ------------ */
    .title{
    text-align: center;
    margin: auto;
    position: relative;
    font-size: 28px;
    }
    .title::before{
    content:"";
    width:430px;
    height: 1px;
    display: block;
    background-color: black;
    position: absolute;
    top:50%;
    left:1%;
    }
    .title::after{
    content:"";
    width:430px;
    height: 1px;
    display: block;
    background-color: black;
    position: absolute;
    top:50%;
    right:1%;
    }
    .revie{
    background-color: #F7F7F7;
    height: 390px;
    
    }
    .reviews{
    padding-top: 30px;
    }
    .star-rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 14.46px;
    text-align: center;
    margin-left: 20px;
    /* margin: 20px; */
    }
    
    .star-rating input {
    display: none;
    }
    
    .star-rating label {
    color: #ddd;
    cursor: pointer;
    font-size: 2em;
    }
    
    .registerform{
    font-size: 18px;
    background-color: rgba(252, 163, 243, 1);
    }
    .te{
    font-size: 15px;
    margin-top: 20px;
    }
    .sizebutton{
    font-size: 14px;
    background-color: rgba(126, 161, 253, 1);
    border: 1px;
    border-radius: 3px;
    margin-top: 50px
    }
    .sizebutton1{
    font-size: 14px;
    background-color: rgba(126, 161, 253, 1);
    border: 1px;
    border-radius: 2px;
    margin-top: 40px
    
    
    }
    .forgot{
    margin-top: 40px;
    }
    
    .input{
    height: 23px;
    width: 250px;
    margin-left: 10px;
    font-size: 16px;
    }
    .input1{
    margin-left: 10px;
    
    }
    .form1{
    margin-left: 30px;
    background-color:  rgba(247, 247, 247, 1);
    }
    .form11{
    margin-left: 5px;
    margin-right: 5px;
    width:650px;
    
    }
    
    .card-title{
    font-size: 14px;
    }
    .card-subtitle{
    font-size: 13px;
    }
    .time{
    font-size: 12px;
    }
    .rrr{
    margin-top: 50px; 
    }
    
    .card{
    box-shadow: 0px 1px 0px 0px rgba(182, 196, 210, 0.4);
    }
    .ca{
    width: 560px;
    margin-left: 0px;
    }
    .caa{
    margin-left: 5px;
    margin-top: 15px;
    }
    .title1{
    
    text-align: center;
    margin: auto;
    position: relative;
    font-size: 28px;
    }
    .title1::before{
    content:"";
    width:200px;
    height: 1px;
    display: block;
    background-color: black;
    position: absolute;
    top:50%;
    left:1%;
    }
    .title1::after{
    content:"";
    width:200px;
    height: 1px;
    display: block;
    background-color: black;
    position: absolute;
    top:50%;
    right:1%;
    }
    .img-m{
    height: 200px;
    width: 1140px;
    margin-top: 20px;
    /* margin-left: 300px; */
    }
    .img-s{
    overflow-x: scroll;
    margin-top: 30px;
    padding-bottom: 20px;
    }
    .img-s::-webkit-scrollbar{
    height: 5px;
    }
    .img-s::-webkit-scrollbar-track{
    background-color: whitesmoke;
    }
    .img-s::-webkit-scrollbar-thumb{
    background: gray;
    }
    
    .caab{
    
    width: 260px;
    margin: 10px !important;
    }
    .caab {
    width: 100%;
    height: auto;
    }
    .caag {
    padding: 15px;
    }
    .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .card-body{
    margin-top: 0px !important;
    padding-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0 !important;
    }
    
    
     .input2{
     width: 242px;
     height: 30px;
    }
    .input22{
    width: 150px;
    height: 30px;
    margin-left: 3px !important;
    background-color: rgba(126, 161, 253, 1);
    border: none;
    border-radius: 4px
    }
    
    .input22:hover{
     border: 1px solid black;
    }
    .icon{
     margin-left: 300px;
     margin-top: 30px;
    
    }
    .footer-sec{
     background-color: rgba(238, 238, 238, 1);
    }
    .tttt{
     padding-top: 20px;
    }
    .tex{
     color: #000;
     font-size: 14px;
    }
    .navbar{
     background-color: #7EA1FD;
    
    }
    .first{
     margin-left: 20px !important;
    }
    .footer{
     background-color:   rgba(218, 218, 218, 1);
     padding-bottom: 10px;
    }
    .last22{
     width: 100% !important;
    }
    .input222{
     width: 150px;
    height: 30px;
    margin-left: 3px !important;
    background-color: rgba(126, 161, 253, 1);
    border: none;
    border-radius: 4px;
    color: white;
    }
    .sasa{
    margin-left: 170px;
    }
    .formm{
    display: flex;
    
    }
    .homeage{
        width: 550px;
    background-color: rgba(247, 247, 247, 1);
    margin-left: 20px;
    }
    @media screen and (max-width : 480px){
     .input22{
         margin-top: 10px;
         margin-left: 40px !important;
     }
     .icon{
     margin-left: 70px;
     margin-top: 30px;
    
    }
    .first{
     margin-left: 50px !important;
    }
    .Home{
     width: 300px;
     margin-left: 0px;
     margin-top: 5px;
    }
    .banner{
     width: 300px;
     margin-top: 5px;
     margin-right: 20px;
    }
    .title{
     text-align: center;
     margin: auto;
     position: relative;
     font-size: 28px;
    }
    .title::before{
     content:"";
     width:30px;
     height: 1px;
     display: block;
     background-color: black;
     position: absolute;
     top:50%;
     left:1%;
    }
    .title::after{
     content:"";
     width:30px;
     height: 1px;
     display: block;
     background-color: black;
     position: absolute;
     top:50%;
     right:1%;
    }
    .revie{
     background-color: #F7F7F7;
     height: auto;
    
    }
    .ca{
         width: 300px;
         margin-left: 0px;
         margin-top: 15px;
     }
     .title1::before{
         content:"";
         width:0px;
         height: 1px;
         display: block;
         background-color: black;
         position: absolute;
         top:50%;
         left:1%;
     }
     .title1::after{
         content:"";
         width:0px;
         height: 1px;
         display: block;
         background-color: black;
         position: absolute;
         top:50%;
         right:1%;
     }
     .form1{
         margin-left: 0px !important;
         width:310px;
         background-color:  rgba(247, 247, 247, 1);
     }
     .sizebutton{
         font-size: 14px;
         background-color: rgba(126, 161, 253, 1);
         border: 1px;
         border-radius: 3px;
         margin-top: 10px
     }
     .img-m{
             height: 200px;
             width: 300px;
             margin-top: 20px;
             /* margin-left: 300px; */
         }
     .img-s{
         overflow-x: scroll;
         margin-top: 30px;
         padding-bottom: 20px;
     }
     .img-s::-webkit-scrollbar{
         height: 5px;
     }
     .img-s::-webkit-scrollbar-track{
         background-color: whitesmoke;
     }
     .img-s::-webkit-scrollbar-thumb{
         background: gray;
     }
     .sliimg{
         height: 151.75px;
         width: 162.5px;
         margin-left: 7px;
     }
     .formm{
         display: block;
     
     }
     .homeage{
         background-color: rgba(247, 247, 247, 1);
         margin-left: 0px;
         margin-top: 15px;
         width: 310px;
     }
     .logi{
         margin-left: 20px;
         padding-bottom: 25px;
     }
     .revie{
         background-color: #F7F7F7;
         height: auto;
         width: 310px;
     }
     .reviews{
         padding-top: 30px;
     }
     .freedd{
         display: none !important;
     }
    
    }